# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PLATFORM_FEE_PERCENT=10

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=hello@rolvibe.com

# App
NEXT_PUBLIC_APP_URL=https://rolvibe.com
NEXT_PUBLIC_APP_NAME=Rolvibe
